<!DOCTYPE html>
<html>
    <%- include('./header.ejs') %>
    <%- include('./postloginNavbar.ejs') %>
    <body>
        <div class="container-fluid p-5 mt-5">
            <div class="card p-2 static" style="border-radius: 20px; background-color: rgb(176, 243, 131);">
                <div class=" mt-5 ml-5">
                    <div class=" ml-2 mb-5">
                        <h2 style="color: rgba(1, 36, 1, 0.884);"><Strong>Patient's Result</Strong></h2>
                    </div>
                </div>
                <div class="mx-12 mx-md-12">
                    <table class="table table-borderless ml-5">
                      <tr>
                        <td>
                          <h5>Patient Name:</h5>
                        </td>
                        <td>
                          <p class="patient_name">
                          <strong><%=patient.patient_name %></strong>  
                          </p>
                        </td>
                        <td rowspan="4">
                          <img src="<%= viz_path %>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Patient Age:</h5>
                        </td>
                        <td>
                          <p class="patient_age">
                            <strong><%=patient.patient_age %></strong> 
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Patient Email:</h5>
                        </td>
                        <td>
                          <p class="patient_email">
                            <strong><%=patient.patient_email %></strong> 
                          </p>
                        </td>
                      </tr>
                      
                        <tr>
                          <td>
                            <h5>Patient Result:</h5>
                          </td>
                          <td>
                            <p class="result">
                             <strong><%= result %> </strong> 
                            </p>
                          </td>
                        </tr>
                        
                    </table>
                    
                    
                  </div>
            </div>
        </div>
    </body>
</html>