<!DOCTYPE html>
<html>
    <%- include('./header.ejs') %>
    <%- include('./postloginNavbar.ejs') %>
    <body>
        <div class="container-fluid p-5 mt-5">
            <div class="card p-2 static" style="border-radius: 20px; background-color: rgb(176, 243, 131);">
                <div class=" mt-5 ml-5">
                    <div class=" ml-2 mb-5">
                        <h1 style="color: rgba(1, 36, 1, 0.884);"><strong>Patient's Result</strong></h1>
                    </div>
                </div>
                <div class="mx-12 mx-md-12">
                    <table class="table table-borderless ml-5">
                      <tr>
                        <td>
                          <h2><strong>Patient Name:</strong></h2>
                        </td>
                        <td>
                          <p class="patient_name">
                          <h2><%=patient.patient_name %></h2>  
                          </p>
                        </td>
                        <td rowspan="4">
                          <img style="width:80%; height: 80%" src="<%= viz_path %>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h2><strong>Patient Age:</strong></h2>
                        </td>
                        <td>
                          <p class="patient_age">
                            <h2><%=patient.patient_age %></h2> 
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h2><strong>Patient Email:</strong></h2>
                        </td>
                        <td>
                          <p class="patient_email">
                            <h2><%=patient.patient_email %></h2> 
                          </p>
                        </td>
                      </tr>
                      
                        <tr>
                          <td>
                            <h2><strong>Patient Result:</strong></h2>
                          </td>
                          <td>
                            <p class="result">
                             <h2><%= result %> </h2> 
                            </p>
                          </td>
                        </tr>
                        
                    </table>
                    
                    
                  </div>
            </div>
        </div>
    </body>
</html>